{
  "openapi": "3.0.4",
  "info": {
    "title": "DaData.ru API",
    "version": "0.1.0",
    "description": "### English version below\n\nНеофициальная спецификация OpenAPI для сервисов DaData\nDaData — это сервис подсказок и поиска по российским адресам, организациям, ФИО и другим данным.\n\n**Аутентификация**\n- Запросы к API подсказок и \"Поиск по коду\" требуют передать API-ключ (токен) в заголовке `Authorization: Token <API_KEY>`.\n- Запросы к API стандартизации, помимо токена, требуют также указать секретный ключ в заголовке `X-Secret: <SECRET_KEY>`\n\n**Лимиты запросов**\nAPI типа \"Подсказки\" (`suggest`) и \"Поиск по коду\" (`findById`):\n- До **30 запросов в секунду** на один IP\n- До **60 новых соединений в минуту** на один IP\n- Суточные лимиты зависят от тарифного плана.\nAPI стандартизации:\n- До **20 запросов в секунду** на один IP\n- До **60 новых соединений в минуту** на один IP\n\n**Важно:** Данная спецификация не является официальной. Составлено по официальной документации DaData и анализу ответов API.\n\n---\n### English version\n\nUnofficial OpenAPI specification for Dadata.ru APIs.\nDadata provides various suggestion and lookup services for Russian addresses, companies, and other data.\n\n**Authentication:** All endpoints require an API key passed in the Authorization header.\n\n**Rate Limits:**\nAll `suggest` and `findById` APIs:\n- Maximum 30 requests per second per IP\n- Maximum 60 new connections per minute per IP\n- Daily limits vary by subscription plan\nStandartization (`clean`) API:\n- Maximum 20 requests per second per IP\n- Maximum 60 new connections per minute per IP\n\n**Note:** This is an unofficial specification based on official Dadata API documentation and reverse-engineering API responses.\n",
    "termsOfService": "https://dadata.ru/offer/",
    "contact": {
      "name": "Dadata DSK on GitHub (unofficial)",
      "url": "https://github.com/alexchexes/dadata-sdk",
      "email": "alexchexes@gmail.com"
    },
    "license": {
      "name": "DaData ToS",
      "url": "https://dadata.ru/offer/"
    }
  },
  "servers": [
    {
      "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs",
      "description": "Suggestions API server"
    },
    {
      "url": "https://cleaner.dadata.ru/api/v1",
      "description": "Standartization API server"
    },
    {
      "url": "https://dadata.ru/api/v2",
      "description": "General API server (serves account-related endpoints)"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "suggest",
      "description": "Подсказки выполняют полнотекстовый поиск и возвращают почтовые адреса, ФИО, реквизиты компаний или банков, и другую информацию в структурированном виде.",
      "externalDocs": {
        "url": "https://dadata.ru/api/suggest/"
      }
    },
    {
      "name": "metro",
      "description": "Станции метро",
      "externalDocs": {
        "url": "https://dadata.ru/api/suggest/metro/"
      }
    }
  ],
  "externalDocs": {
    "url": "https://confluence.hflabs.ru/display/SGTDOC",
    "description": "Ресурс HFLabs (ДаДата) на Confluence, описывающий некоторые API «Подсказок», jQuery-плагин и коробочную версию.\nСодержит дополнительную документацию и примеры, не представленные на https://dadata.ru/api\n"
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Некорректный запрос (невалидный JSON или XML)\n\nДля API стандартизации составных записей (clean/record):\n- Отсутствуют обязательные параметры structure или data.\n- В structure указан неподдерживаемый тип.\n- Количество полей в data более указанного в structure.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "В запросе отсутствует API-ключ (для \"Стандартизации\", также, секретный ключ)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "В запросе указан неверный API-ключ\nИли не подтверждена почта\nИли исчерпан дневной лимит запросов (проверьте через личный кабинет или API stat/daily)\nИли (Стандартизация) - недостаточно средств для обработки запроса, пополните баланс\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Запрошенный ресурс не найден.\nСкорее всего, допущена ошибка при формировании URL для выполнения запроса\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "Запрос сделан с не доступным для данного API HTTP-методом, например GET там, где разрешён только POST",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "ContentTooLarge": {
        "description": "Слишком большая длина запроса или слишком много условий",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Слишком много запросов в секунду или новых соединений в минуту",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Произошла внутренняя ошибка сервиса",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "./schemas/response.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Full header format: `Authorization: Token <YOUR_API_KEY>`"
      },
      "SecretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Secret",
        "description": "Секретный ключ для API Стандартизации"
      }
    }
  },
  "paths": {
    "/suggest/email": {
      "servers": [
        {
          "url": "https://suggestions.dadata.ru/suggestions/api/4_1/rs"
        }
      ],
      "post": {
        "tags": [
          "suggest",
          "email"
        ],
        "summary": "Подсказки по email",
        "description": "- Подсказывает локальную часть (до «собачки»).\n- Подсказывает доменную часть (после «собачки»).\n- Исправляет опечатки (yadex.ru → yandex.ru).\n",
        "externalDocs": {
          "url": "https://dadata.ru/api/suggest/email/"
        },
        "operationId": "suggestEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/request.json#/definitions/SuggestEmailPayload"
              },
              "examples": {
                "simple_query": {
                  "description": "Test",
                  "value": {
                    "query": "anton@"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/response.json#/definitions/SuggestEmailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "413": {
            "$ref": "#/components/responses/ContentTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  }
}
